:root {
    --blue: #3888ff;
    --red: #ff3841;
}

/* NAV BAR */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 0 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-brand img {
    width: 140px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
    height: 66px;
    /* transition: background-color 200ms ease-out 0s; */
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav:hover {
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #086ad8;
}

nav:hover .logo-brand {
    color: #ffffff !important;
}

nav:hover .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 3px;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.logo-brand {
    display: block;
}

nav.black {
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}

nav.black .logo-brand {
    color: #ffffff !important;
}

nav.black ul {
    background-color: #086ad8;
}

nav.black .logo {
    margin: 0px 46px;
}

nav.black .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav.black ul li {
    padding: 0px 25px;
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav ul li {
    display: inline-block;
    padding: 0px 25px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #222222;
}

.nav-separate {
    display: none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

/* SLIDER */
#content #slider .navigation ul li .li__hoverLine,
#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation,
#content #slider {
    width: 100%;
}

#content #slider {
    height: 100%;
}

#content #slider .navigation ul li a,
#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img,
#content #slider .backgroundImages .bi__imgCont,
#content #slider .backgroundImages,
#content #slider .mainImages .mi__img,
#content #slider .mainImages,
#content {
    width: 100%;
    height: 100%;
}

#content #slider .navigation ul li,
#content #slider .navigation ul {
    width: auto;
    display: table;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation ul li a,
a {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
}

/* Styles */
#content {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#content .c {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99999;
    text-align: center;
}

#content .c a {
    color: white;
    text-decoration: underline;
}

#content #slider {
    position: relative;
    background-color: #434343;
    /* Main images navigation */
    /* Background Images (Blur effect) */
    /* Navigation styles */
}

#content #slider img {
    display: none;
}

#content #slider .mainImages {
    position: relative;
    z-index: 1;
}

#content #slider .mainImages .mi__img {
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-transform: scale(0.7);
  transform: scale(0.7); */
}

#content #slider .backgroundImages {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#content #slider .backgroundImages .bi__imgCont {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img {
    position: relative;
}

#content #slider .navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 2;
}

#content #slider .navigation ul {
    margin: 25px auto;
}

#content #slider .navigation ul li {
    float: left;
    margin-right: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#content #slider .navigation ul li:last-child {
    margin-right: 0;
}

#content #slider .navigation ul li:hover .li__info {
    opacity: 0.9 !important;
}

#content #slider .navigation ul li.active .li__hoverLine .l {
    width: 100%;
}

#content #slider .navigation ul li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    overflow: hidden;
    opacity: 0.7;
}

#content #slider .navigation ul li .li__info h5,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h5 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    color: white;
    float: left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    padding: 4px 0px 5px 0px;
}

#content #slider .navigation ul li .li__info h4,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
    float: left;
    padding-left: 6px;
    text-transform: uppercase;
}

#content #slider .navigation ul li .li__info-mask {
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
}

#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    opacity: 1;
}

#content #slider .navigation ul li .li__hoverLine {
    height: 1px;
    float: left;
    margin-top: 8px;
}

#content #slider .navigation ul li .li__hoverLine .l {
    width: 0%;
    height: 1px;
    background: #cccccc;
    margin: 0 auto;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/* END SLIDER */

.header-title {
    font-family: 'Baloo Paaji 2', cursive;
    color: #ffffff;
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-main-button {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
}

.header-main-button-white {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: block;
    color: #086ad8;
    border-color: #ffffff;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
}

.header-main-button:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.header-main-button-white:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.main-button-wrapper {
    padding: 10px;
    display: inline-block;
}

.header-title h2 {
    font-weight: 600;
}

.header-title h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section-title h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.section-sub-title {
    color: #ababab;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
    margin-top: -5px;
}

.text-color-primary {
    color: var(--red);
}

.section-common {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* ABOUT US TEXT ANIMATION */
#text-flip {
    color: #999;
    text-transform: uppercase;
    font-size: 57px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: right;
}

#flip {
    height: 90px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 0px 20px;
    height: 90px;
    margin-bottom: 71px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -420px;
    }

    5% {
        margin-top: -320px;
    }

    33% {
        margin-top: -320px;
    }

    38% {
        margin-top: -160px;
    }

    66% {
        margin-top: -160px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -420px;
    }
}

.about-us-main p {
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

.about-us-main h6 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

.we-are-text {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 300;
    color: gray;
}

.font-italic {
    font-style: italic !important;
}

.problems-solved-main {
    margin-top: 3rem;
}

.problems-solved-sub-title {
    color: #6c757d;
}

.problems-solved-icon {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 2rem;
    width: 64px;
    height: 64px;
    border: 2px solid #6569b0;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.problems-solved-icon i {
    color: #d93b31;
    font-size: 28px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.problems-solved-details:hover i {
    color: #ffffff;
}

.problems-solved-details:hover .problems-solved-icon {
    background: #6569b0;
    border-color: #6569b0;
}

.problems-solved-inner-title {
    color: #393939;
    font-size: 19px;
    vertical-align: top;
}

.problems-solved-description {
    color: #6c757d;
    line-height: 24px;
    font-size: 14px;
    margin: 0;
}

.problems-solved-secondry {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.problems-solved-inner-title {
    margin-bottom: 3px;
}

.problems-solved-img {
    height: 100%;
}

.problems-solved-details {
    display: inline-block;
    margin-bottom: 2rem;
    width: 100%;
}

.service-area-section {
    background: #0f0c29;
}

.service-area-details {
    color: #ffffff;
    width: 60%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.service-area-details h1 {
    font-family: 'Days One', sans-serif;
    font-size: 4rem;
}

.service-area-details h4 {
    font-weight: 300;
}

.service-area-details p {
    margin-top: 3rem;
}

.service-area-inner {
    display: flex;
}

.inner-img-one {
    position: absolute;
    top: 0;
    height: 100%;
    width: 110%;
    text-align: center;
}

.world-rotate {
    height: 100%;
    -webkit-animation: rezWorldRotate 20s linear infinite;
    animation: rezWorldRotate 20s linear infinite;
}

/*--- spinner keyframe ---*/
@-webkit-keyframes rezWorldRotate {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
        transform: rotate(0deg) translateY(0px) rotate(-360deg);
    }
}

@keyframes rezWorldRotate {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
        transform: rotate(0deg) translateY(0px) rotate(-360deg);
    }
}

.area-map {
    overflow: hidden;
    width: 40%;
    position: relative;
}

/* OUR SERVICES SECTION */

.our-services-section {
    background-color: #e0e5ec;
}

.service-card {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #e0e5ec;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.service-card-title {
    text-align: center;
}

.service-card-title h2 {
    font-weight: 300;
    border-bottom: 1px solid #FB0044;
    display: inline-block;
    padding-bottom: 1.5rem;
}

.service-card-desc {
    padding: 1rem 0;
    font-weight: 400;
}

.service-card-img img {
    width: 100%;
}

.service-card-img {
    text-align: right;
    width: 50%;
}

.service-card-service-wrapper {
    display: flex;
    text-transform: uppercase;
    margin-top: 0.7rem;
}

.service-card-service-inner div {
    margin-bottom: 0.7rem;
    font-size: 14px;
}

.service-card-service-inner div i {
    margin-right: 10px;
    width: 16px;
    text-align: center;
    color: #086ad8;
}

.service-card-service-inner {
    width: 50%;
}

.service-card:hover {
    /* background-image: linear-gradient(0deg, #0f4667 6%, #2a6973 150%); */
    background-color: #100e17;
    color: white;
    -webkit-box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
    box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
}

.software-section {
    background-color: #f9f9f9;
}

.software-section-sub-title {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;
}

.software-section-sub-title span {
    display: block;
    color: var(--blue);
}

.software-section-main-title {
    font-size: 26px;
    font-weight: 600;
    margin: 1rem 0;
}

.software-content {
    color: #6c757d;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-top: 2rem;
}

.bg-color-dark {
    background-color: #040d21;
}

.container-one {
    padding: 4rem 2rem;
    border-radius: 20px;
    overflow: hidden;
}

.software-img {
    transform: translate(17%, 0);
    width: 55%;
    border-radius: 7px;
    box-shadow: 0 0 65px rgba(237, 78, 80, .4), 0 0 0 1px rgba(255, 255, 255, .1), 0 2px 2px rgba(0, 0, 0, .0274351), 0 4px 4px rgba(0, 0, 0, .0400741), 0 10px 8px rgba(0, 0, 0, .0499982), 0 15px 15px rgba(0, 0, 0, .0596004), 0 30px 30px rgba(0, 0, 0, .0709366), 0 70px 65px rgba(0, 0, 0, .09);
    transition: 1s;
}

.software-img-two {
    transform: translate(-17%, 0);
    width: 55%;
    border-radius: 7px;
    box-shadow: 0 0 65px rgb(8 106 216 / 25%), 0 0 0 1px rgba(255, 255, 255, .1), 0 2px 2px rgba(0, 0, 0, .0274351), 0 4px 4px rgba(0, 0, 0, .0400741), 0 10px 8px rgba(0, 0, 0, .0499982), 0 15px 15px rgba(0, 0, 0, .0596004), 0 30px 30px rgba(0, 0, 0, .0709366), 0 70px 65px rgba(0, 0, 0, .09);    transition: 1s;
}

.software-product-one {
    width: 35%;
}

.explore-more-wrapper {
    display: inline;
}

.software-section-content {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}

.text-white {
    color: #ffffff !important;
}

.text-gray {
    color: #8193b2 !important;
}

.software-desc {
    font-size: 1.5rem;
}

.software-section-content:hover .software-img {
    transform: translate(25%, 0);
}

.software-section-content:hover .software-img-two {
    transform: translate(-25%, 0);
}

.software-section-content:hover .software-mobile-img {
    visibility: visible;
    opacity: 1;
}

.software-section-content:hover .software-mobile-img-two {
    visibility: visible;
    opacity: 1;
}

.explore-more {
    margin-top: 2rem;
    display: inline-block;
    font-size: 17px;
    padding: .3125rem 0;
    line-height: 1.5;
    text-decoration: none !important;
    background-color: transparent !important;
    background-image: linear-gradient(currentColor, currentColor) !important;
    background-repeat: no-repeat !important;
    background-position: 0 100% !important;
    background-size: 100% 2px !important;
}

.explore-more:hover {
    color: lightskyblue;
}

.explore-more-wrapper i {
    margin-left: 8px;
    transition: 0.5s;
    color: #0d6efd;
}

.explore-more-wrapper:hover i {
    margin-left: 13px;
}

.glass {
    position: absolute;
    top: 50%;
    right: -170px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    height: auto;
    padding: 20px 45px;
    text-align: center;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-50%);
    font-family: poppins;
    color: rgba(255, 255, 255, 0.7);
}

.info-card {
    max-width: 340px;
    margin: auto;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card-main {
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-content {
    padding: 20px;
}

.software-mobile-img {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 240px;
    border-radius: 10px;
    bottom: -4%;
    left: 38%;
    position: absolute;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 34px 65px #040d21, 0 2.76726px 2.21381px rgba(0, 0, 0, .07), 0 6.6501px 5.32008px rgba(0, 0, 0, .04317), 0 12.5216px 10.0172px rgba(0, 0, 0, .0339075), 0 22.3363px 17.869px rgba(0, 0, 0, .0282784), 0 41.7776px 33.4221px rgba(0, 0, 0, .0235573), 0 100px 80px rgba(0, 0, 0, .0174624);
}

.software-mobile-img-two {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    width: 240px;
    border-radius: 10px;
    bottom: -4%;
    left: 38%;
    position: absolute;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 34px 65px #040d21, 0 2.76726px 2.21381px rgba(0, 0, 0, .07), 0 6.6501px 5.32008px rgba(0, 0, 0, .04317), 0 12.5216px 10.0172px rgba(0, 0, 0, .0339075), 0 22.3363px 17.869px rgba(0, 0, 0, .0282784), 0 41.7776px 33.4221px rgba(0, 0, 0, .0235573), 0 100px 80px rgba(0, 0, 0, .0174624);
}

.software-mobile-img img {
    border-radius: 10px;
}

.software-mobile-img-two img {
    border-radius: 10px;
}

.software-more-desc {
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: .375rem;
    padding: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    color: #ffffff;
    background: #0c162d;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 34px 65px #040d21, 0 2.76726px 2.21381px rgba(0, 0, 0, .07), 0 6.6501px 5.32008px rgba(0, 0, 0, .04317), 0 12.5216px 10.0172px rgba(0, 0, 0, .0339075), 0 22.3363px 17.869px rgba(0, 0, 0, .0282784), 0 41.7776px 33.4221px rgba(0, 0, 0, .0235573), 0 100px 80px rgba(0, 0, 0, .0174624);
}

.software-more-desc span {
    display: block;
    font-size: 16px;
}

.software-more-desc-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.software-more-desc-icons span {
    margin: 0 0.5rem;
    font-size: 1.6rem;
}

.product-logo {
    width: 220px;
    margin: 0 0 2rem;
}

.about-system {
    margin-bottom: 1.5rem;
}

.software-product-two {
    padding-left: 4rem;
}