/* NAV BAR */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 0 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-brand img {
    width: 140px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
    height: 66px;
    /* transition: background-color 200ms ease-out 0s; */
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav:hover {
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #086ad8;
}

nav:hover .logo-brand {
    color: #ffffff !important;
}

nav:hover .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 3px;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.logo-brand {
    display: block;
}

nav.black {
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}

nav.black .logo-brand {
    color: #ffffff !important;
}

nav.black ul {
    background-color: #086ad8;
}

nav.black .logo {
    margin: 0px 46px;
}

nav.black .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav.black ul li {
    padding: 0px 25px;
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav ul li {
    display: inline-block;
    padding: 0px 25px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #222222;
}

.nav-separate {
    display: none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

/* SLIDER */
#content #slider .navigation ul li .li__hoverLine,
#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation,
#content #slider {
    width: 100%;
}

#content #slider {
    height: 100%;
}

#content #slider .navigation ul li a,
#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img,
#content #slider .backgroundImages .bi__imgCont,
#content #slider .backgroundImages,
#content #slider .mainImages .mi__img,
#content #slider .mainImages,
#content {
    width: 100%;
    height: 100%;
}

#content #slider .navigation ul li,
#content #slider .navigation ul {
    width: auto;
    display: table;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer,
#content #slider .navigation ul li a,
a {
    -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -ms-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    /* easeOutExpo */
}

/* Styles */
#content {
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#content .c {
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0px;
    color: white;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 99999;
    text-align: center;
}

#content .c a {
    color: white;
    text-decoration: underline;
}

#content #slider {
    position: relative;
    background-color: #434343;
    /* Main images navigation */
    /* Background Images (Blur effect) */
    /* Navigation styles */
}

#content #slider img {
    display: none;
}

#content #slider .mainImages {
    position: relative;
    z-index: 1;
}

#content #slider .mainImages .mi__img {
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-transform: scale(0.7);
  transform: scale(0.7); */
}

#content #slider .backgroundImages {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#content #slider .backgroundImages .bi__imgCont {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

#content #slider .backgroundImages .bi__imgCont .bi__imgCont-img {
    position: relative;
}

#content #slider .navigation {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    z-index: 2;
}

#content #slider .navigation ul {
    margin: 25px auto;
}

#content #slider .navigation ul li {
    float: left;
    margin-right: 30px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

#content #slider .navigation ul li:last-child {
    margin-right: 0;
}

#content #slider .navigation ul li:hover .li__info {
    opacity: 0.9 !important;
}

#content #slider .navigation ul li.active .li__hoverLine .l {
    width: 100%;
}

#content #slider .navigation ul li a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#content #slider .navigation ul li .li__info,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    overflow: hidden;
    opacity: 0.7;
}

#content #slider .navigation ul li .li__info h5,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h5 {
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0px;
    color: white;
    float: left;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    padding: 4px 0px 5px 0px;
}

#content #slider .navigation ul li .li__info h4,
#content #slider .navigation ul li .li__info-mask .mask__infoContainer h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
    float: left;
    padding-left: 6px;
    text-transform: uppercase;
}

#content #slider .navigation ul li .li__info-mask {
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: hidden;
}

#content #slider .navigation ul li .li__info-mask .mask__infoContainer {
    opacity: 1;
}

#content #slider .navigation ul li .li__hoverLine {
    height: 1px;
    float: left;
    margin-top: 8px;
}

#content #slider .navigation ul li .li__hoverLine .l {
    width: 0%;
    height: 1px;
    background: #cccccc;
    margin: 0 auto;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
}

/* END SLIDER */

.header-title {
    font-family: 'Baloo Paaji 2', cursive;
    color: #ffffff;
    position: absolute;
    z-index: 100;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-main-button {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
}

.header-main-button-white {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: block;
    color: #086ad8;
    border-color: #ffffff;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
}

.header-main-button:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.header-main-button-white:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.main-button-wrapper {
    padding: 10px;
    display: inline-block;
}

.header-title h2 {
    font-weight: 600;
}

.header-title h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section-title h1 {
    font-family: Times New Roman, Times, serif;
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 3rem;
}

.section-sub-title {
    color: #ababab;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
    margin-top: -5px;
}

.text-color-primary {
    color: #d93b31;
}

.section-common {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* ABOUT US TEXT ANIMATION */
#text-flip {
    color: #999;
    text-transform: uppercase;
    font-size: 57px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: right;
}

#flip {
    height: 90px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 0px 20px;
    height: 90px;
    margin-bottom: 71px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -420px;
    }

    5% {
        margin-top: -320px;
    }

    33% {
        margin-top: -320px;
    }

    38% {
        margin-top: -160px;
    }

    66% {
        margin-top: -160px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -420px;
    }
}

.about-us-main p {
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

.about-us-main h6 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

.we-are-text {
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 300;
    color: gray;
}

.font-italic {
    font-style: italic !important;
}

.problems-solved-main {
    margin-top: 3rem;
}

.problems-solved-sub-title {
    color: #6c757d;
}

.problems-solved-icon {
    float: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 2rem;
    width: 64px;
    height: 64px;
    border: 2px solid #6569b0;
    border-radius: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.problems-solved-icon i {
    color: #d93b31;
    font-size: 28px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.problems-solved-details:hover i {
    color: #ffffff;
}

.problems-solved-details:hover .problems-solved-icon {
    background: #6569b0;
    border-color: #6569b0;
}

.problems-solved-inner-title {
    color: #393939;
    font-size: 19px;
    vertical-align: top;
}

.problems-solved-description {
    color: #6c757d;
    line-height: 24px;
    font-size: 14px;
    margin: 0;
}

.problems-solved-secondry {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.problems-solved-inner-title {
    margin-bottom: 3px;
}

.problems-solved-img {
    height: 100%;
    padding-top: 4rem;
}

.problems-solved-details {
    display: inline-block;
    margin-bottom: 2rem;
    width: 100%;
}

/* DECODE TEXT */
.decode-text {
    width: 100%;
    font-size: 30px;
    font-family: "Share Tech Mono", monospace;
}

.space {
    display: inline-block;
    width: 10px;
}

.text-animation {
    display: inline-block;
    position: relative;
    color: transparent;
    text-transform: uppercase;
}

.text-animation:before {
    content: "";
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #0e182d;
    width: 0;
    height: 1.2em;
    -webkit-transform: translate(-50%, -55%);
    -ms-transform: translate(-50%, -55%);
    transform: translate(-50%, -55%);
}

.text-animation.state-1:before {
    width: 1px;
}

.text-animation.state-2:before {
    width: 0.9em;
}

.text-animation.state-3 {
    color: black;
}

.text-animation.state-3:before {
    width: 0;
}

#refresh {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.service-area-section {
    background: #0f0c29;
}

.service-area-details {
    color: #ffffff;
    width: 60%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.service-area-details h1 {
    font-family: 'Days One', sans-serif;
    font-size: 4rem;
}

.service-area-details h4 {
    font-weight: 300;
}

.service-area-details p {
    margin-top: 3rem;
}

.service-area-inner {
    display: flex;
}

.inner-img-one {
    position: absolute;
    top: 0;
    height: 100%;
    width: 110%;
    text-align: center;
}

.world-rotate {
    height: 100%;
    -webkit-animation: rezWorldRotate 20s linear infinite;
    animation: rezWorldRotate 20s linear infinite;
}

/*--- spinner keyframe ---*/
@-webkit-keyframes rezWorldRotate {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
        transform: rotate(0deg) translateY(0px) rotate(-360deg);
    }
}

@keyframes rezWorldRotate {
    0% {
        -webkit-transform: rotate(0deg) translateX(0px) rotate(0deg);
        transform: rotate(0deg) translateX(0px) rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(0deg) translateY(0px) rotate(-360deg);
        transform: rotate(0deg) translateY(0px) rotate(-360deg);
    }
}

.area-map {
    overflow: hidden;
    width: 40%;
    position: relative;
}

/* OUR SERVICES SECTION */

.our-services-section {
    background-color: #e0e5ec;
}

.service-card {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #e0e5ec;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.service-card-title {
    text-align: center;
}

.service-card-title h2 {
    font-weight: 300;
    border-bottom: 1px solid #FB0044;
    display: inline-block;
    padding-bottom: 1.5rem;
}

.service-card-desc {
    padding: 1rem 0;
    font-weight: 300;
}

.service-card-img img {
    width: 100%;
}

.service-card-img {
    text-align: right;
    width: 50%;
}

.service-card-service-wrapper {
    display: flex;
    text-transform: uppercase;
    margin-top: 0.7rem;
}

.service-card-service-inner div {
    margin-bottom: 0.7rem;
    font-size: 14px;
}

.service-card-service-inner div i {
    margin-right: 10px;
    width: 16px;
    text-align: center;
    color: #086ad8;
}

.service-card-service-inner {
    width: 50%;
}

.service-card:hover {
    /* background-image: linear-gradient(0deg, #0f4667 6%, #2a6973 150%); */
    background-color: #100e17;
    color: white;
    -webkit-box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
    box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
}

.software-section{
    background-color: #f9f9f9;
}

.software-section-sub-title {
    color: #FB0044;
    text-transform: uppercase;
}

.software-section-main-title {
    font-size: 26px;
    font-weight: 600;
    margin: 1rem 0;
}

.software-content {
    color: #6c757d;
    font-weight: 400;
    font-size: 17px;
}