:root {
    --blue: #3888ff;
    --red: #ff3841;
}

.text-white {
    color: #ffffff !important;
}

.text-gray {
    color: #8193b2 !important;
}

.text-black {
    color: #2a2833 !important;
}

.text-blue {
    color: var(--blue) !important;
}

.text-red {
    color: var(--red) !important;
}

.primary-bg {
    background-color: var(--blue) !important;
}

.secondary-bg {
    background-color: var(--red) !important;
}

.bg-color-offWhite {
    background-color: #e0e5ec;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 50px #2d7dc8;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 50px #2d7dc8;
}

/* NAV BAR */

html {
    -webkit-font-smoothing: antialiased;
}

body {
    padding: 0;
    margin: 0;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 0 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo-brand img {
    width: 140px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1000;
    height: 66px;
    /* transition: background-color 200ms ease-out 0s; */
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav:hover {
    -webkit-box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #086ad8;
}

nav:hover .logo-brand {
    color: #ffffff !important;
}

nav:hover .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 3px;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.logo-brand {
    display: block;
}

nav.black {
    -webkit-box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0px 4px 10px 0 rgba(0, 0, 0, 0.35);
}

nav.black .logo-brand {
    color: #ffffff !important;
}

nav.black ul {
    background-color: #086ad8;
}

nav.black .logo {
    margin: 0px 46px;
}

nav.black .logo-brand>img {
    filter: brightness(0) invert(1);
}

nav.black ul li {
    padding: 0px 25px;
    -webkit-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    -o-transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
    transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}

nav ul li {
    display: inline-block;
    padding: 0px 25px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #222222;
}

.nav-separate {
    display: none;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}

@media(max-width: 786px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

}

/* MAIN */
.main-image {
    width: 40%;
}

.main-buttons {
    display: block;
    margin-top: 2.5rem;
}

.main-container {
    width: 100%;
    height: 100vh;
    background: #232323;
    display: flex;
    align-items: center;
    padding: 3rem;
}

.main-container .box {
    width: 60%;
    position: relative;
    display: inline-block;
}

.main-container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 135px;
}

.main-container .box .title .block {
    width: 0%;
    height: inherit;
    background: var(--red);
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.main-container .box .title h1 {
    font-family: 'Baloo Paaji 2', cursive;
    color: #fff;
    font-size: 3.5rem;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
}

.main-container .box .title h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background: var(--red);
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
}

.main-container .box .role {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 72px;
    margin-top: 1.5rem;
}

.main-container .box .role .block {
    width: 0%;
    height: inherit;
    background: #e91e63;
    position: absolute;
    animation: secBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
}

.main-container .box .role p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    letter-spacing: 5px;
    margin-bottom: 0;
    font-size: 20px;
    line-height: 36px;
    color: #bbbbbb;
}

@keyframes mainBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes secBlock {
    0% {
        width: 0%;
        left: 0;
    }

    50% {
        width: 100%;
        left: 0;
    }

    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    0% {
        width: 0px;
        height: 0px;
        background: var(--blue);
        border: 0px solid #ddd;
        opacity: 0;
    }

    50% {
        width: 10px;
        height: 10px;
        background: var(--blue);
        opacity: 1;
        bottom: 45px;
    }

    65% {
        width: 7px;
        height: 7px;
        bottom: 0px;
        width: 15px;
    }

    80% {
        width: 18px;
        height: 18px;
        bottom: 20px;
    }

    100% {
        width: 10px;
        height: 10px;
        background: var(--red);
        border: 0px solid #222;
        bottom: 18px;
        right: -15px
    }
}

@keyframes secFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

.main-sec-footer {
    width: 350px;
    height: 80px;
    background: var(--red);
    position: absolute;
    right: 0;
    bottom: -80px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: top 0.8s forwards;
    animation-delay: 4s;
    opacity: 0;
    border-radius: 5px 0 0 0;
}

.main-sec-footer span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: #ffffff;
}

.main-sec-footer span i {
    margin-right: 25px;
    font-size: 26px;
    color: #ffffff;
    animation: icon 2s forwards;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes top {
    0% {
        opacity: 0;
        bottom: -80px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes icon {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    50% {
        opacity: 1;
        transform: scale(1.3) rotate(-2deg);
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

/* END MAIN */
.header-main-button {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
    transition: 0.5s;
}

.header-main-button-white {
    padding: 0 36px;
    height: 56px;
    line-height: 56px;
    border-width: 0;
    border-radius: 5px;
    display: block;
    color: #086ad8;
    border-color: #ffffff;
    background-color: #ffffff;
    font-family: inherit;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0em;
    text-decoration: none;
    transition: 0.5s;
}

.header-main-button:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.header-main-button-white:hover {
    color: #ffffff;
    border-color: #086ad8;
    background-color: #086ad8;
    text-decoration: underline;
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px);
}

.main-button-wrapper {
    margin-right: 1rem;
    display: inline-block;
    animation: mainButtonAni 0.8s forwards;
    animation-delay: 4s;
    opacity: 0;
}

@keyframes mainButtonAni {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.header-title h2 {
    font-weight: 600;
}

.header-title h1 {
    font-weight: 800;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.section-title h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.section-sub-title {
    color: #ababab;
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 1.43;
    margin-top: -5px;
}

.text-color-primary {
    color: var(--red);
}

.section-common {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* ABOUT US TEXT ANIMATION */
#text-flip {
    color: #999;
    text-transform: uppercase;
    font-size: 57px;
    font-weight: bold;
    width: 100%;
    display: block;
    text-align: right;
}

#flip {
    height: 90px;
    overflow: hidden;
}

#flip>div>div {
    color: #fff;
    padding: 0px 20px;
    height: 90px;
    margin-bottom: 71px;
    display: inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

#flip div div {
    background: #42c58a;
}

#flip div:first-child div {
    background: #4ec7f3;
}

#flip div:last-child div {
    background: #DC143C;
}

@keyframes show {
    0% {
        margin-top: -420px;
    }

    5% {
        margin-top: -320px;
    }

    33% {
        margin-top: -320px;
    }

    38% {
        margin-top: -160px;
    }

    66% {
        margin-top: -160px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -420px;
    }
}

.about-us-main p {
    color: #696969;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0em;
    line-height: 1.74;
}

.font-italic {
    font-style: italic !important;
}

.problems-solved-main {
    margin-top: 3rem;
    background-color: aliceblue;
    border-radius: 20px;
    padding: 2rem;
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

}

.quick-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}

.find-more-about-btn-main,
.contact-us-about {
    margin: 0 1rem;
}

.quick-contact-btn {
    display: block;
    padding: 0.4rem 1rem;
    border-radius: 3px;
    border: 1px solid #ffffff;
    font-size: 14px;
    text-decoration: unset;
    color: #ffffff;
    transition: 0.2s;
}

.quick-contact-btn:hover {
    background-color: #ffffff;
}

.problems-solved-sub-title {
    color: #6c757d;
}

.problems-solved-icon {
    width: 50px;
    margin: auto;
    margin-bottom: 0.5rem;
}

.problems-solved-icon img {
    width: 100%;
}

.problems-solved-inner-title {
    color: #393939;
    font-size: 15px;
    vertical-align: top;
    margin-bottom: 3px;
    font-weight: 500;
}

.problems-solved-inner-sub-title {
    margin-top: 7px;
    margin-bottom: 0;
    font-weight: 400;
    color: #696969;
    font-size: 14px;
}

.problems-solved-secondry {
    display: flex;
    flex-wrap: wrap;
    border-radius: 6px;
}

.company-desc {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 19px;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #808080;
}

.problems-solved-img {
    height: 100%;
}

.problems-solved-details {
    flex-basis: 50%;
    margin-bottom: 1rem;
    text-align: center;
}

.service-area-section {
    background: #0f0c29;
}

.service-area-details {
    text-align: center;
    margin-bottom: 1rem;
    color: #ffffff;
}

.service-area-details h1 {
    font-family: 'Days One', sans-serif;
    font-size: 2rem;
}

.service-area-details h4 {
    font-weight: 300;
    font-size: 16px;
}

.service-area-inner {
    position: relative;
    margin-top: 2.5rem;
}

/* OUR SERVICES SECTION */

.our-services-section {
    background-color: #e0e5ec;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.service-card {
    padding: 2rem;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    background: #e0e5ec;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.service-card-title {
    text-align: center;
}

.service-card-title h2 {
    border-bottom: 1px solid #FB0044;
    display: inline-block;
    padding-bottom: 1rem;
    font-size: 24px;
    font-weight: 500;
}

.service-card-desc {
    padding: 1rem 0;
    font-weight: 400;
    color: #8b9cb4;
    text-align: center;
    font-size: 14px;
}

.service-card-service-wrapper div i {
    margin-right: 5px;
    color: #2f4f4f;
    font-size: 19px;
}

.service-card-service-wrapper div {
    width: 50%;
    text-align: center;
    margin: 0.5rem 0;
}

.service-card-service-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.service-card-img img {
    width: 100%;
}

.service-card-img {
    width: 50%;
    margin: auto;
    margin-bottom: 1rem;
}

.service-card:hover {
    background-color: #100e17;
    color: #f0f8ff;
    -webkit-box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
    box-shadow: -1px 7px 51px 0px rgb(75 81 91 / 78%);
}

.software-section {
    background-color: #f9f9f9;
}

.software-section-sub-title {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;
}

.software-section-sub-title span {
    display: block;
    color: var(--blue);
}

.software-section-main-title {
    font-size: 26px;
    font-weight: 600;
    margin: 1rem 0;
}

.software-content {
    color: #6c757d;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    margin-top: 2rem;
}

.bg-color-dark {
    background-color: #040d21;
}

.bg-color-red {
    background: #D31027;
    background: -webkit-linear-gradient(to right, #EA384D, #D31027);
    background: linear-gradient(to right, #EA384D, #D31027);
}

.container-one {
    padding: 4rem 2rem;
    border-radius: 20px;
    overflow: hidden;
}

.software-img {
    width: 85%;
    transition: 1s;
    transform: translateX(12%);
}

.explore-more-wrapper {
    display: inline;
}

.software-section-content {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    position: relative;
}

.software-desc {
    font-size: 1.2rem;
}

.explore-more {
    color: #ffffff;
    margin-top: 1rem;
    display: inline-block;
    font-size: 17px;
    padding: .3125rem 0.5rem;
    border-radius: 3px;
    line-height: 1.5;
    text-decoration: none !important;
    background: var(--red);
    background: linear-gradient(to left, rgb(255 56 65 / 73%) 50%, var(--blue) 50%) right;
    background-size: 201%;
    transition: .5s ease-out;
}

.explore-more:hover {
    background-position: left;
    color: #ffffff;
}

.explore-more-wrapper i {
    margin-left: 8px;
    transition: 0.5s;
    color: #0d6efd;
}

.explore-more-wrapper:hover i {
    margin-left: 13px;
    color: var(--red);
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
}

.info-card {
    max-width: 340px;
    margin: auto;
    overflow-y: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    overflow-x: hidden;
    background-color: white;
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.card-main {
    position: relative;
    flex: 1;
    display: flex;
    padding-top: 10px;
    flex-direction: column;
}

.card-content {
    padding: 20px;
}

.software-mobile-img {
    visibility: hidden;
    opacity: 0;
    border-radius: 6px;
    transition: 0.5s;
    transition-delay: 0.2s;
    width: 200px;
    bottom: 2%;
    right: 0;
    position: absolute;
}

.software-mobile-img img {
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.ss-product-slider:hover .software-mobile-img {
    visibility: visible;
    opacity: 1;
}

.ss-product-slider:hover .software-img {
    transform: translateX(0%);
}

.software-more-desc {
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: .375rem;
    padding: 1.5rem;
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    color: #ffffff;
    background: #0c162d;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1), 0 34px 65px #040d21, 0 2.76726px 2.21381px rgba(0, 0, 0, .07), 0 6.6501px 5.32008px rgba(0, 0, 0, .04317), 0 12.5216px 10.0172px rgba(0, 0, 0, .0339075), 0 22.3363px 17.869px rgba(0, 0, 0, .0282784), 0 41.7776px 33.4221px rgba(0, 0, 0, .0235573), 0 100px 80px rgba(0, 0, 0, .0174624);
}

.software-more-desc span {
    display: block;
    font-size: 16px;
    text-transform: uppercase;
}

.software-more-desc-icons {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.software-more-desc-icons span {
    margin: 0 0.5rem;
    font-size: 1.6rem;
}

.product-logo {
    width: 220px !important;
    margin: 0 0 2rem;
}

.about-system {
    margin-bottom: 1.5rem;
}

.software-product-two {
    padding-left: 4rem;
}

.imageBounce {
    position: absolute;
    top: -40px;
    right: -35px;
    animation: featureImgBounce 5s ease-in-out 0s infinite alternate
}


@keyframes featureImgBounce {
    0% {
        transform: translateY(0)
    }

    to {
        transform: translateY(-30px)
    }
}

.about-us-main {
    text-align: center;
    color: #ffffff;
}

.key-ponts {
    font-weight: 700;
}

.service-main-title {
    font-size: 35px;
    font-weight: 400;
    color: #2a2833;
    line-height: 1.2em;
    text-align: center;
    margin: 4rem;
}

.service-main-title span {
    font-weight: 500;
}

.main-img {
    width: 85%;
}

/* PRELOADER */
.preloader {
    background: #252525;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
}

.preloader u {
    display: block;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-top: 5px solid var(--red);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px;
    box-sizing: border-box;
    animation: 2s Rotate ease-in-out infinite;
    -webkit-animation: 2s Rotate ease-in-out infinite;
    color: #fff;
    line-height: 128px;
    text-align: center;
    text-decoration: none;
}

@keyframes Rotate {
    50% {
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes Rotate {
    50% {
        -webkit-transform: rotate(180deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

.preloader u:before,
.preloader u:after {
    display: block;
    position: absolute;
    content: "";
    width: 128px;
    height: 128px;
    top: -5px;
    left: 0;
    border-radius: 50%;
    box-sizing: border-box
}

.preloader u:before {
    border-top: 5px solid #676767;
    transform: rotate(120deg)
}

.preloader u:after {
    border-top: 5px solid var(--blue);
    transform: rotate(240deg)
}

.preloader u i {
    animation: 2s deRotate linear infinite;
    -webkit-animation: 2s deRotate linear infinite;
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    top: -5px;
    left: 0;
}

@keyframes deRotate {
    50% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes deRotate {
    50% {
        -webkit-transform: rotate(-180deg)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

/* END PRELOADER */

/* opacity: 0.8;
background-color: #00010c; */

.marketing-section-sub-title {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    letter-spacing: -0.025em;
    text-align: center;
}

.marketing-section-sub-title span {
    display: block;
    color: #5d0000;
}

/* OUR SERVICES CARD */

:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-serif: "Cardo", serif;
}

.page-content {
    display: grid;
    grid-gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card {
    border: 0;
    border-radius: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    background: #e0e5ec;
    box-shadow: 5px 5px 10px rgb(163 177 198 / 60%), -5px -5px 10px rgb(255 255 255 / 50%);
}

/* END OUR SERVICES CARD */

/* MARKETING */

.marketing-main {
    margin-top: 6rem;
}

.marketing-desc h2 {
    font-size: 48px;
    max-width: 32rem;
    color: #fff0f5;
    text-align: left;
    text-transform: capitalize;
}

.marketing-desc p {
    margin: 2rem 0;
    color: #f5f5f5;
}

.vcenter {
    align-items: center;
}

.box.has-shadow:hover {
    transform: scale(1.02);
    box-shadow: 0 14px 33px -3px rgb(0 0 0 / 10%);
}

.box.has-shadow {
    background: #fff;
    box-shadow: 0 0 0 0 #eee;
    box-shadow: 0 14px 33px -3px rgb(0 0 0 / 8%);
    transition: 0.2s cubic-bezier(0.5, 0, 0.35, 1);
}

.box {
    padding: 40px 30px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.box-icon i {
    font-size: 2rem;
}

.box-icon {
    margin-bottom: 1rem;
}

.box-title {
    font-weight: 700;
}

.explore-more-marketing {
    text-align: center;
    padding: .8rem 4rem;
    line-height: 1.5;
    border-radius: 35px;
    background: white;
    cursor: pointer;
    transition: 0.25s cubic-bezier(0, 0, 0.41, 1);
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
}

.explore-more-marketing:hover {
    background: #f1e7ff;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
}

.explore-more-marketing i {
    margin-left: 8px;
    transition: 0.5s;
    color: #0d6efd;
    font-size: 0.9rem;
}

.explore-more-marketing:hover i {
    margin-left: 12px;
}

/* MARKETING */

.who-we-are-section {
    background-image: url(../images/background-01.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

/* PROJECTS */
.project-wrapper {
    height: 600px;
    margin-top: 2rem;
    filter: saturate(1.4);
    background-blend-mode: overlay;
    border-radius: 20px;
    align-self: stretch;
    transition: background 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.project-spritzer {
    background-image: url(../images/software-sec/spritzer.jpg);
}

.project-poruwa {
    background-image: url(../images/software-sec/poruwa2.jpg);
}

.project-text-main {
    padding: 2rem;
    background-color: rgb(0 0 0 / 35%);
    border-radius: 20px;
}

/* END PROJECTS */

/* SOFTWARE DEV SECTION */
.software-dev-section {
    margin-bottom: 4rem;
}

.container-soft-dev {
    padding: 4rem 2rem;
    border-radius: 0 20px 20px;
    overflow: hidden;
}

.software-dev-section-sub-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: 1;
    color: var(--bs-gray-dark);
    letter-spacing: -0.025em;
}

.section-intro {
    font-size: 1.4rem;
    margin: 3rem 0;
    color: var(--bs-gray);
}

.soft-dev-card {
    width: 25%;
    margin-bottom: 30px;
}

.soft-box-desc {
    margin: 1rem 0 0;
    font-size: 14px;
    color: var(--bs-red);
    font-weight: 500;
}

.soft-box-title {
    font-weight: 700;
}

.soft-sec-box-icon {
    width: 3.5rem;
    margin-bottom: 0.5rem;
}

.soft-dev-card .box {
    padding: 30px 30px;
    margin-bottom: 0;
    height: 100%;
}

.work-strategy-main ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.work-strategy-main ul li span {
    color: green;
    margin-right: 1rem;
    vertical-align: middle;
}

.work-strategy-main ul li h6 {
    font-weight: 400;
    line-height: 1.5;
}

.work-strategy-main ul li {
    margin-bottom: 0.5rem;
    color: var(--bs-gray);
    font-weight: 400;
    display: flex;
    align-items: flex-start;
}

.work-strategy-wrapper {
    padding: 0 1rem 1rem;
    border-radius: 10px;
}

.work-strategy-wrapper h5 {
    margin-bottom: 1.5rem;
    color: midnightblue;
    margin: 0 -1rem 1rem;
    padding: 1rem;
    background-color: cornflowerblue;
    border-radius: 10px 10px 0 0;
}

.explore-more-software-dev-btn {
    text-align: center;
    margin-top: 2rem;
}

/* END SOFTWARE DEV SECTION */

/* Testimonials */
body { background: aliceblue; }

.testimonials {
  position: relative;
}

.testimonials .test-heading {
    font-size: 30px;
    font-weight: 700;
    color: #313e4b;
    margin-bottom: 0px;
    margin-top: 1.5rem;
}
.testimonials .test-heading span {
    font-weight: 300;
    color: #02a2c4;
    margin: 0;

}

@media (max-width: 767px) {
  .testimonials {
    margin-top: 20px;
  }
}
.testimonials h2 {
  font-size: 30px;
  text-align: center;
  color: #333333;
  margin-bottom: 50px;
}
.testimonials .owl-stage-outer {
  padding: 30px 0;
}
.testimonials .owl-nav {
  display: none;
}
.testimonials .owl-dots {
  text-align: center;
}
.testimonials .owl-dots span {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: block;
  background: #fff;
  border: 2px solid #01b0f8;
  margin: 0 5px;
}
.testimonials .owl-dots .active {
  box-shadow: none;
}
.testimonials .owl-dots .active span {
  background: #01b0f8;
  box-shadow: none;
  height: 12px;
  width: 12px;
  margin-bottom: -1px;
}
.testimonials .card {
  background: #fff;
  box-shadow: 0 8px 30px -7px #c9dff0;
  padding: 0 10px;
  border-radius: 20px;
  border: 0;
}
.testimonials .card .card-img-top {
  max-width: 100px;
  border-radius: 50%;
  margin: 15px auto 0;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 80px;
  height: 80px;
}
.testimonials .card h5 {
  color: #01b0f8;
  font-size: 21px;
  line-height: 1.3;
}
.testimonials .card h5 span {
  font-size: 16px;
  color: #666666;
}
.testimonials .card p {
  font-size: 16px;
  color: #555;
  padding-bottom: 15px;
}
.testimonials .active {
  opacity: 0.5;
  transition: all 0.3s;
}
.testimonials .center {
  opacity: 1;
}
.testimonials .center h5 {
  font-size: 24px;
}
.testimonials .center h5 span {
  font-size: 17px;
}
.testimonials .center .card-img-top {
  max-width: 100%;
  height: 90px;
  width: 90px;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  outline: 0;
}


/* End Testimonials */